.creatable {
    height: 100%;

    .creatable__control {
        height: 100%;
        min-width: 15rem;
    }
    .creatable__input {
        --tw-ring-shadow: none;
    }
}

.form-button {
    display: flex;
    align-items: center;

    i {
        color: white;
        font-size: 2.5rem;
        line-height: 0%;
    }
}
