.nav-sidebar {
    min-width: 14rem;
    gap: 1.5rem;

    h1 {
        text-align: center;
    }

    .links {
        gap: 1rem;

        .section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-transform: capitalize;

            h2 {
                text-align: center;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                transition: 100ms ease-out;
            }
            h2:hover {
                background-color: var(--bg-250);
            }
        }
    }
}
.nav-active {
    background-color: var(--bg-250);
}
.content {
    width: 100%;
}
.l-green-i {
    color: var(--bg-250);
}
