.nav-sidebar {
    min-width: 15.5rem;
    gap: 1.5rem;
    transition: 200ms ease-out;

    h1 {
        text-align: center;
    }

    .links {
        gap: 1rem;

        .section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-transform: capitalize;

            h2 {
                text-align: center;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                transition: 100ms ease-out;
            }
            h2:hover {
                background-color: var(--bg-250);
            }
        }
    }
}
.nav-active {
    background-color: var(--bg-250);
}
.content {
    width: 100%;
}
.l-green-i {
    color: var(--bg-250);
}

.sidebar-button {
    position: absolute;
    bottom: 1.25rem;
    left: 1.5rem;
    transition: 200ms ease-out;

    i {
        font-size: 1.5rem;
        line-height: 0%;
        color: var(--bg-250);
    }
}
.sidebar-button:hover {
    filter: brightness(1.5);
}

.hide-nav {
    display: none;
}
